@import "/public/fonts/stylesheet.css";
@import "nav.css";
@import "loader.css";
@import "home.css";
@import "race.css";

:root {
    --primaryColor: #E77200;
    --secondaryColor: #0F0326;
    --primaryDark: #934501;
    --xsMin: 0px;
    --xsMax: 599px;
    --smMin: 600px;
    --smMax: 899px;
    --mdMin: 900px;
    --mdMax: 1199px;
    --lgMin: 1200px;
    --lgMax: 1535px;
    --xlMin: 1536px;
    --xlMax: 1919px;
}

body {
    background-image: url("/public/images/background.png");
    margin: 0px;
    color: white;
    font-family: robotoregular, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

#main {
    position: relative;
}



::selection {
    background: var(--primaryColor);
}

.button {
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    padding: 0.8rem 1.7rem;
    font-size: 0.8rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.5s;
    letter-spacing: 0.4px;
}

.button-outlined {
    background-color: transparent;
    border: 1px solid var(--primaryColor);
    color: var(--primaryColor);
    padding: 0.8rem 1.7rem;
    font-size: 0.8rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.5s;
    letter-spacing: 0.4px;
    display: inline-block;
}

.button:hover {
    background-color: var(--primaryDark);
}

.button:active {
    transform: scale(0.9);
}

@media screen and (max-width: 599px) {
    body {
        font-size: 12px;
    }

    .button {
        padding: 0.6rem 1rem;
        font-size: 0.7rem;
    }
}